@import "../../assets/styles/colors.css";
.base {
    position: fixed;
    background-color: rgba(0, 0, 0, .6);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 700px;
}

.header {
    background-color: var(--header-color);
    color: #fff;
    height: 45px;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body {
    padding: 10px 20px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #dadada;
    padding: 10px 0;
}

.cancelButton {
    margin-right: 10px;
}

.button {
    width: 100px;
    height: 30px;
}

.feeInfo {
    font-size: .8em;
    margin-bottom: 10px;
}