.body {
    padding: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    border: 1px solid #dadada;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
}