@import "../../assets/styles/helpers.css";
.filter {
    border: 1px solid #dadada;
    border-radius: 2px;
    margin-bottom: 20px;
    padding: 10px;
}

.header {
    margin-bottom: 10px;
    margin-top: 0;
}

.condition {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.conditionLabel {
    width: 200px;
}

.radio {
    display: flex;
    align-items: center;
}

.condition .radio {
    margin-right: 10px;
}

.condition .radio:last-child {
    margin-right: 0;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.cancelButton {
    margin-right: 10px;
}

.button {
    width: 100px;
    height: 30px;
}