@import "../../assets/styles/helpers.css";

.captionInput {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.caption {
    width: calc(50% - 5px);
}

.input {
    @apply --input;
    width: calc(50% - 5px);
}

.input:focus {
    @apply --input-focus;
}