.captionInput {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.caption {
    width: calc(50% - 5px);
}

.input {
    width: calc(50% - 5px);
    border-radius: 2px;
    height: 30px;
    display: flex;
    align-items: center;
    border: 1px solid #dadada;
    box-sizing: border-box;
    padding: 0 10px;
}

.input:focus {
    outline: none;
    border-color: #07abe8;
    box-shadow: #07abe8;
}